<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PrecisionAnalyzer/src/com/haathi/watermark/analyzer/ApproximatePrecisionAnalyzer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.haathi.watermark.analyzer.ApproximatePrecisionAnalyzer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="res/in.wm res/out.ev"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PrecisionAnalyzer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx300m"/>
</launchConfiguration>
