<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TraitorAnalyzer/src/com/haathi/watermark/analyzer/TraitorAnalyzer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.haathi.watermark.analyzer.TraitorAnalyzer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="50000 res\out.wm res\out.wmc res\in.th res\out.ev"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TraitorAnalyzer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx300m"/>
</launchConfiguration>
